{{- define "main" -}}
  <div class="page-header" data-parallax="true" style="background-image: url('img/sections/uriel-soberanes.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="motto">
        <h1 class="title-uppercase text-center">Paper Kit</h1>
        <h3 class="text-center">Make your mark with a new design.</h3>
        <br/>
        <a href="#pablo" class="btn btn-warning btn-round btn-lg">
          <i class="fa fa-share-alt" aria-hidden="true"></i> Share Article
        </a>
      </div>
    </div>
  </div>
<h1>{{ .Title | markdownify }}</h1>
{{ .Content }}

{{- end -}}