{{ define "title" }}{{ cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) }}{{ end }}

{{ define "main" }}

      {{ if ne .Params.Github "" }}
        <span class="post-date">
          <a href='{{ .Params.Github }}'>{{ .Params.Github }}</a>
        </span>
      {{ end }}
<article class="center bg-white br-3 pv1 ph4 nested-copy-line-height lh-copy f4 nested-links mw-100 measure-wide">
  {{ .Content }}

							<p class="pa0 sans-serif f7"><a class="ba br3 pa2 link" href="{{ .Params.Link}}">Go to {{ .Title }}<i class="fas fa-chevron-circle-right"></i></a></p>
</article>



{{ end }}
{{ define "social" }}
		<meta name="og:title" content="{{ cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) }}" />
		<meta name="og:type" content="article" />
		<meta name="og:image" content="{{ default "img/default-header-img.jpg" .Params.image | absURL }}" />
		<meta name="og:description" content="{{ .Description | markdownify }}" />
		<meta name="og:url" content="{{ .Permalink }}" />
		<meta name="og:site_name" content="{{ cond (eq .Site.Params.titlecase true) (.Title | title | markdownify) (.Title | markdownify) }}" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@{{ .Site.Params.twitter }}" />
{{ end }}
