{{ range where .Pages.ByPublishDate.Reverse "Section" "post" }}
  <p>
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    {{ $customDateFormat := "January 2, 2006" }}
    {{ with .Site.Params.customDateFormat }}{{ $customDateFormat = . }}{{ end }}
    <br>
    <small class="text-secondary">{{ .PublishDate.Format $customDateFormat }}</small>
    {{ partial "tags" . }}
    {{ if eq .Site.Params.showPostSummary true }}
    <br>
    {{ .Summary }}
    {{ end }}
  </p>
{{ end }}


  <div class="section section-gray" id="cards-projects">
    <div class="container tim-container">
      <div class="title">
        <h2>Projects</h2>
      </div>
      <h4 class="title">Text Coloured Cards</h4>
      <div class="row coloured-cards">
        <div class="col-md-4 col-sm-6">
          <div class="card-big-shadow">
            <div class="card card-just-text" data-background="color" data-color="blue" data-radius="none">
              <div class="card-body">
                <h6 class="card-category">Best cards</h6>
                <h4 class="card-title">
                  <a href="#paper-kit">Blue Card</a>
                </h4>
                <p class="card-description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card-big-shadow">
            <div class="card card-just-text" data-background="color" data-color="green" data-radius="none">
              <div class="card-body">
                <h6 class="card-category">Best cards</h6>
                <h4 class="card-title">
                  <a href="#paper-kit">Green Card</a>
                </h4>
                <p class="card-description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card-big-shadow">
            <div class="card card-just-text" data-background="color" data-color="yellow" data-radius="none">
              <div class="card-body">
                <h6 class="card-category">Best cards</h6>
                <h4 class="card-title">
                  <a href="#paper-kit">Yellow Card</a>
                </h4>
                <p class="card-description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card-big-shadow">
            <div class="card card-just-text" data-background="color" data-color="brown" data-radius="none">
              <div class="card-body">
                <h6 class="card-category">Best cards</h6>
                <h4 class="card-title">
                  <a href="#paper-kit">Brown Card</a>
                </h4>
                <p class="card-description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card-big-shadow">
            <div class="card card-just-text" data-background="color" data-color="purple" data-radius="none">
              <div class="card-body">
                <h6 class="card-category">Best cards</h6>
                <h4 class="card-title">
                  <a href="#paper-kit">Purple Card</a>
                </h4>
                <p class="card-description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="card-big-shadow">
            <div class="card card-just-text" data-background="color" data-color="orange" data-radius="none">
              <div class="card-body">
                <h6 class="card-category">Best cards</h6>
                <h4 class="card-title">
                  <a href="#paper-kit">Orange Card</a>
                </h4>
                <p class="card-description">What all of these have in common is that they're pulling information out of the app or the service and making it relevant to the moment. </p>
              </div>
            </div>
            <!-- end card -->
          </div>
        </div>
      </div>


    </div>
  </div>