	<div class="hide-print sans-serif f6 f5-l mt5 ph3 pb6 center nested-copy-line-height lh-copy nested-links mw-100 measure-wide">
		<div class="about-the-author">
		{{ if .IsPage }}
			{{ $author := (printf "/authors/%s" (default .Site.Params.author (default "Unknown" .Params.author) | urlize)) }}
			{{ with .Site.GetPage $author }}
				{{ if gt .Content "" }}
					{{ .Content }}
				{{ end }}
			{{ else }}
				{{ with .Site.GetPage "/" }}
					{{ .Content }}
				{{ end }}
			{{ end }}
		{{ else if gt .Content "" }}
			{{ .Content }}
		{{ else }}
			{{ with .Site.GetPage "/" }}
				{{ .Content }}
			{{ end }}
		{{ end }}
		</div>
		{{ with .Site.Params.mailchimp }}

	<div class="subscribe-form cb w-100 pt3">
<form action="https://list.brian.dev/subscribe" method="POST" accept-charset="utf-8" target="_blank" novalidate>
	<label for="name">Name</label><br/>
	<input placeholder="Subscribe for updates!" class="w-50 dib ph3 pv2 ba b--silver br2 sans-serif f6 f5-l mr2" type="text" name="name" id="name"/>
	<br/>
	<label for="email">Email</label><br/>
	<input class="w-50 dib ph3 pv2 ba b--silver br2 sans-serif f6 f5-l mr2" type="email" name="email" id="email"/><br/><div style="display:none;">
	<label for="hp">HP</label><br/>
	<input type="text" name="hp" id="hp"/>
	</div>
	<input type="hidden" name="list" value="{{ . }}"/>
	<input type="hidden" name="subform" value="yes"/>
	<input class="w-40 dib ph3 pv2 ba b--silver br2 sans-serif f6 f5-l white bg-mid-gray" type="submit" name="submit" id="submit"/>
</form>
</div>
		{{ end }}
	</div>
